/Puzzle-BIQ/target/*
/Puzzle-BIQ/.classpath
/Puzzle-BIQ/.settings/*
/Puzzle-BIQ/*.txt
*.class
*.log
*.prefs
/Puzzle-BIQ/target/*
/Puzzle-BIQ/.idea/*
/Puzzle-BIQ/src/main/resources/files/output.txt
/Puzzle-BIQ/puzzle.iml
/Puzzle-BIQ/src/test/resources/files/*.out
